In [1]:
import pandas as pd
import numpy as np

In [2]:
basics = pd.read_csv('Data/basics.tsv', sep='\t')
basics.head()

C:\Users\sushi\AppData\Local\Temp\ipykernel_12896\1146940033.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv('Data/basics.tsv', sep='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [3]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357313 entries, 0 to 9357312
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 642.5+ MB

In [4]:
ratings = pd.read_csv('Data/ratings.tsv', sep='\t')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1922
1  tt0000002            5.8       259
2  tt0000003            6.5      1733
3  tt0000004            5.6       174
4  tt0000005            6.2      2544

In [5]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245557 entries, 0 to 1245556
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1245557 non-null  object
 1   averageRating  1245557 non-null  float64
 2   numVotes       1245557 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.5+ MB

In [6]:
akas = pd.read_csv('Data/akas.tsv', sep='\t')
akas.head()

C:\Users\sushi\AppData\Local\Temp\ipykernel_12896\624551750.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  akas = pd.read_csv('Data/akas.tsv', sep='\t')

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [7]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33762801 entries, 0 to 33762800
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [8]:
basics['runtimeMinutes'].value_counts(dropna=False,sort=True)

\N      6800352
30       145454
22       114499
60       108299
44        70365
         ...
665           1
3087          1
583           1
503           1
2088          1
Name: runtimeMinutes, Length: 878, dtype: int64

Lots of NA values in runtime that are inputted as \N

In [9]:
#replace \N with traditional NaN value and drop the 6,800,352 rows with unknown runtime
basics['runtimeMinutes'].replace(r"\N",np.nan,inplace=True)
basics = basics[basics['runtimeMinutes'].notna()]

In [10]:
basics['genres'].value_counts(dropna=False,sort=True)

Drama                          195137
Documentary                    167922
Comedy                         139297
Drama,Short                    110481
Short                          104791
                                ...
Biography,Horror,Sci-Fi             1
Documentary,Romance,Sport           1
Documentary,Sci-Fi,Thriller         1
Adult,Game-Show                     1
Drama,Horror,Reality-TV             1
Name: genres, Length: 2208, dtype: int64

In [11]:
#Determine if null values are also represented as \N for genre
basics.loc[basics['genres']==r"\N"]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
1616,tt0001630,movie,Der fremde Vogel,Der fremde Vogel,0,1911,\N,45,\N
1739,tt0001756,movie,Lucha por la herencia,Lucha por la herencia,0,1911,\N,92,\N
2069,tt0002094,movie,Charles IV,Charles IV,0,1912,\N,50,\N
2289,tt0002315,movie,El lobo de la sierra,El lobo de la sierra,0,1912,\N,76,\N
...,...,...,...,...,...,...,...,...,...
9355929,tt9913834,movie,Hiniku: Nure nawazeme,Hiniku: Nure nawazeme,0,1981,\N,64,\N
9355950,tt9913878,movie,Document porno: Yubi ijime,Document porno: Yubi ijime,0,1981,\N,61,\N
9356525,tt9915130,movie,Meet John Doe,Meet John Doe,0,\N,\N,120,\N
9356968,tt9916134,movie,The Thing in the Bag,The Thing in the Bag,0,\N,\N,78,\N
9357253,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N

In [12]:
#replace \N with traditional NaN value and drop the 68,151 rows with unknown genre
basics['genres'].replace(r"\N",np.nan,inplace=True)
basics = basics[basics['genres'].notna()]

C:\Users\sushi\AppData\Local\Temp\ipykernel_12896\781579769.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  basics['genres'].replace(r"\N",np.nan,inplace=True)

In [13]:
#only keep full-length movies
basics = basics[basics.titleType =='movie']

In [14]:
#only keep fictional movies
basics = basics[basics.genres !='Documentary']

In [15]:
#drop null startYears so we can typecast to int and apply filters
basics['startYear'].replace(r"\N",np.nan,inplace=True)
basics = basics[basics['startYear'].notna()]
basics['startYear'].astype(int)

8          1894
570        1906
587        1907
672        1908
930        1909
           ...
9356985    2019
9356994    2020
9357033    2020
9357078    2020
9357162    2019
Name: startYear, Length: 303088, dtype: int32

In [20]:
basics = basics[(basics.startYear > '1999') & (basics.startYear < '2022')]

In [21]:
#final dataframe after filtering
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158898 entries, 34793 to 9357162
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          158898 non-null  object
 1   titleType       158898 non-null  object
 2   primaryTitle    158898 non-null  object
 3   originalTitle   158898 non-null  object
 4   isAdult         158898 non-null  object
 5   startYear       158898 non-null  object
 6   endYear         158898 non-null  object
 7   runtimeMinutes  158898 non-null  object
 8   genres          158898 non-null  object
dtypes: object(9)
memory usage: 12.1+ MB

In [22]:
#only keep the 1,365,697 movies released in the US
akas = akas.loc[akas['region']=="US"]

In [19]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1365697 entries, 5 to 33762545
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1365697 non-null  object
 1   ordering         1365697 non-null  int64
 2   title            1365697 non-null  object
 3   region           1365697 non-null  object
 4   language         1365697 non-null  object
 5   types            1365697 non-null  object
 6   attributes       1365697 non-null  object
 7   isOriginalTitle  1365697 non-null  object
dtypes: int64(1), object(7)
memory usage: 93.8+ MB

In [23]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245557 entries, 0 to 1245556
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1245557 non-null  object
 1   averageRating  1245557 non-null  float64
 2   numVotes       1245557 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.5+ MB

In [26]:
basics.to_csv('basics.csv')
akas.to_csv('akas.csv')
ratings.to_csv('ratings.csv')