In [2]:
import pandas as pd
import numpy as np

In [5]:
basics = pd.read_csv('Data/basics.tsv', sep='\t')
basics.head()

C:\Users\sushi\AppData\Local\Temp\ipykernel_3932\990751827.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv('Data/basics.tsv', sep='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [6]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357313 entries, 0 to 9357312
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 642.5+ MB

In [7]:
basics['isAdult'].value_counts()

0       9003366
1        288402
0         63362
1          2173
2019          3
2020          2
1981          1
2017          1
\N            1
2014          1
2005          1
Name: isAdult, dtype: int64

In [8]:
ratings = pd.read_csv('Data/ratings.tsv', sep='\t')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1922
1  tt0000002            5.8       259
2  tt0000003            6.5      1733
3  tt0000004            5.6       174
4  tt0000005            6.2      2544

In [9]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245557 entries, 0 to 1245556
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1245557 non-null  object
 1   averageRating  1245557 non-null  float64
 2   numVotes       1245557 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.5+ MB

In [10]:
akas = pd.read_csv('Data/akas.tsv', sep='\t')
akas.head()

C:\Users\sushi\AppData\Local\Temp\ipykernel_3932\624551750.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  akas = pd.read_csv('Data/akas.tsv', sep='\t')

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [11]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33762801 entries, 0 to 33762800
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB